<div class="hero is-fullheight is-vertical-center has-text-centered">
    <div class="hero-body">
        <div class="container">
            <h1 class="title" style="font-size: 5em;margin: 0.5em;">
                404 Página não encontrada
            </h1>

            <h2 class="subtitle">
                <div style="margin: 1.2em;">
                    Clique no botão para voltar para página principal
                </div>

                <div>
                    <button type="button" class="button is-primary" (click)="home()">
                        Home
                    </button>
                </div>
            </h2>
        </div>
    </div>
</div>